.header {
  max-width: 1200px;
  margin: 0 auto; /* alinhamento central, com o max-width */
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: #141414;
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 5px;
  }
}
