.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative; /* pro position absolute ser de acordo com o h1 */
}

.introducao h1::before {
  /* detalhezinho svg */
  content: "";
  display: block;
  height: 110px;
  width: 150px;
  background: url(/img/detalhe.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  line-height: 1.125;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::before {
    display: none;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    display: none;
  }
}

@media (max-width: 450px) {
  .introducao img {
    grid-template-columns: 1fr;
    display: none;
  }
}
